<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name = "HelloFresh Web Challenge" parallel="tests" thread-count="2">
    <listeners>
        <listener class-name="com.hellofresh.listeners.TestNGListener"/>
    </listeners>

    <test name = "Chrome TEST">
        <parameter name="browser" value="Chrome"></parameter>
        <classes>
            <class name="com.hellofresh.challenge.tests.SearchTest"></class>
        </classes>
    </test>

    <!--<test name = "FireFox TEST">-->
        <!--<parameter name="browser" value="FireFox"></parameter>-->
        <!--<classes>-->
            <!--<class name="com.hellofresh.challenge.tests.SearchTest"></class>-->
        <!--</classes>-->
    <!--</test>-->
</suite>